In [23]:
# 연습문제4-1
for i in range(5) :
    for j in range(10) :
        print('* ', end=' ')
    print()

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [1]:
# 연습문제4-2
i = 0
while i < 5 :
    j = 0
    while j < 10 :
        print('* ', end=' ')
        
        j += 1
    print()
    
    i += 1

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [13]:
# 연습문제4-3
for i in range(6, 0, -1) :
    for j in range(i) :
        print(i, end=' ')
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
# 연습문제4-4.py
for i in range(6) :
    for j in range(i+1) :
        print(j, end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [73]:
# 연습문제4-5
n = 8

for i in range(n) :
    if i == 0 or i == n-1:
        for j in range(n) :
            print('*', end=' ')
    else :
        print('*', end=' ')
        for j in range(n-2) :
            print(' ', end=' ')
        print('*', end=' ')
    print()

* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

In [75]:
# 연습문제4-6
sum = 0

for i in range(100) :
    if i%2 == 1:
        if i == 99 :
            print(i, end='')
        else :
            print(i, end=' + ')
            
        sum += i
        
print(' = %d' % sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [9]:
# 연습문제4-7
n = int(input('N의 값을 입력하세요 : '))
sum = 0

for i in range(1, n+1) :
    if i%2 == 0 :
        sum += i**(i-1)
        
print('N의 값 : %d' % n)
print('합계 : %d' % sum)

N의 값을 입력하세요 : 12
N의 값 : 12
합계 : 744010475682

In [12]:
# 연습문제4-8
n = int(input("N 값을 입력해주세요 : "))

for a in range(2, n+1) : 
      prime_yes = True 
      for i in range(2, a) : 
         if a % i == 0 : 
               prime_yes = False 
               break  

      if (prime_yes) : 
         print(a, end=' ')

N 값을 입력해주세요 : 200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [27]:
# 연습문제4-9
print('-' * 50) 
print(' 달러($)  원화(원)  유로(€)')
print('-' * 50) 

dollar = 10

while dollar < 101 : 
    won  = dollar * 1080
    euro = dollar * 0.81

    print('%7d %8.0f %7.1f' % (dollar, won, euro))   

    dollar = dollar + 10
    
print('-' * 50)

--------------------------------------------------
 달러($)  원화(원)  유로(€)
--------------------------------------------------
     10    10800     8.1
     20    21600    16.2
     30    32400    24.3
     40    43200    32.4
     50    54000    40.5
     60    64800    48.6
     70    75600    56.7
     80    86400    64.8
     90    97200    72.9
    100   108000    81.0
--------------------------------------------------

In [29]:
# 연습문제4-10
print('-' * 40) 
print('      cm      mm        m       inch')
print('-' * 40) 

cm = 1
while cm < 101 :
    mm = cm * 10.0
    m  = cm * 0.01
    inch = cm * 0.3937
    print('%8d %8d %8.2f %8.2f' % (cm, int(mm), m, inch))   

    cm = cm + 2
    
print('-' * 40)

----------------------------------------
      cm      mm        m       inch
----------------------------------------
       1       10     0.01     0.39
       3       30     0.03     1.18
       5       50     0.05     1.97
       7       70     0.07     2.76
       9       90     0.09     3.54
      11      110     0.11     4.33
      13      130     0.13     5.12
      15      150     0.15     5.91
      17      170     0.17     6.69
      19      190     0.19     7.48
      21      210     0.21     8.27
      23      230     0.23     9.06
      25      250     0.25     9.84
      27      270     0.27    10.63
      29      290     0.29    11.42
      31      310     0.31    12.20
      33      330     0.33    12.99
      35      350     0.35    13.78
      37      370     0.37    14.57
      39      390     0.39    15.35
      41      410     0.41    16.14
      43      430     0.43    16.93
      45      450     0.45    17.72
      47      470     0.47    18.50
      49      490     0.49    19.29
      51      510     0.51    20.08
      53      530     0.53    20.87
      55      550     0.55    21.65
      57      570     0.57    22.44
      59      590     0.59    23.23
      61      610     0.61    24.02
      63      630     0.63    24.80
      65      650     0.65    25.59
      67      670     0.67    26.38
      69      690     0.69    27.17
      71      710     0.71    27.95
      73      730     0.73    28.74
      75      750     0.75    29.53
      77      770     0.77    30.31
      79      790     0.79    31.10
      81      810     0.81    31.89
      83      830     0.83    32.68
      85      850     0.85    33.46
      87      870     0.87    34.25
      89      890     0.89    35.04
      91      910     0.91    35.83
      93      930     0.93    36.61
      95      950     0.95    37.40
      97      970     0.97    38.19
      99      990     0.99    38.98
----------------------------------------