# 튜플

In [1]:
t = (1,2,3,-10,100)
max(t), sum(t), min(t)

(100, 96, -10)

In [2]:
t * 2

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

In [3]:
t + t

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

## 인덱싱

In [4]:
t[1]

2

In [5]:
t[:4]

(1, 2, 3, -10)

In [6]:
t[-4:-2]

(2, 3)

In [7]:
# t[0] = 1000 # 수정 안됨

TypeError: 'tuple' object does not support item assignment

## 튜플 메서드

In [9]:
t.count(3)

1

In [10]:
t.index(-10)

3

In [11]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [12]:
tuple([1,2,3,4,])

(1, 2, 3, 4)

In [15]:
t = (1,3,4,4,5)
print(type(t))
li = list(t)
type(li)

<class 'tuple'>

list

In [16]:
li.append(10)
li.append(20)
li.append(30)
li

[1, 3, 4, 4, 5, 10, 20, 30]

In [17]:
t = tuple(li)
t

(1, 3, 4, 4, 5, 10, 20, 30)

In [21]:
sorted(t, reverse=True)

[30, 20, 10, 5, 4, 4, 3, 1]

In [24]:
tuple1 = ('apple', 'banana', 'cherry') 
tuple2 = ('orange', 'melon', 'strawberry') 
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))
for x in tuple1:
    print(x)

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [25]:
del tuple1

In [26]:
tuple1

NameError: name 'tuple1' is not defined

In [33]:
dens = (2,3,4,5,6,7,8,9)
print('구구단표')
print('-'*30)

for i in dens:
    for j in range(1, 10):
        print('{0}X{1} = {2}'.format(i, j, i*j))
    print('-'*30)

구구단표
------------------------------
2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
------------------------------
3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27
------------------------------
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
------------------------------
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
------------------------------
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
------------------------------
7X1 = 7
7X2 = 14
7X3 = 21
7X4 = 28
7X5 = 35
7X6 = 42
7X7 = 49
7X8 = 56
7X9 = 63
------------------------------
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64
8X9 = 72
------------------------------
9X1 = 9
9X2 = 18
9X3 = 27
9X4 = 36
9X5 = 45
9X6 = 54
9X7 = 63
9X8 = 72
9X9 = 81
------------------------------

In [37]:
admin_info = ('admin', '12345', 'rubato@naver.com')
id = input('관리자 아이디를 입력하세요:')
pw = input('관리자 비밀번호를 입력하세요:')

if id == admin_info[0] and pw == admin_info[1]:
    print('관리자입니다.')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이디를 입력하세요: admin
관리자 비밀번호를 입력하세요: 12345

관리자입니다.

In [42]:
tuple4 = ('aaa','ddd',1111)
# help(tuple)
tuple4.index('aaa')

0

# 딕셔너리

In [44]:
scores = {}

In [45]:
scores = dict()
type(scores)

dict

In [46]:
scores = {'kor':85,'eng':90,'math':100}
scores

{'kor': 85, 'eng': 90, 'math': 100}

In [47]:
len(scores)

3

In [48]:
max(scores)

'math'

In [49]:
scores['kor']

85

In [50]:
score[0]

KeyError: 0

In [51]:
scores['kor'] = 0
scores

{'kor': 0, 'eng': 90, 'math': 100}

In [52]:
scores['test'] = 100
scores

{'kor': 0, 'eng': 90, 'math': 100, 'test': 100}

In [53]:
scores['test'] = {}  # 삭제가 아니라 삽입
scores

{'kor': 0, 'eng': 90, 'math': 100, 'test': {}}

In [54]:
# 삭제 방법
del scores['test']
scores

{'kor': 0, 'eng': 90, 'math': 100}

In [55]:
for i in scores:
    print(i)

kor
eng
math

In [56]:
scores['kor']

0

### 반복구로 뽑는 방법들

In [60]:
# enumerate() & items()
scores = {'kor':85,'eng':90,'math':100}
# 1
for i, key in enumerate(scores):
    print(i, key, scores.get(key))

0 kor 85
1 eng 90
2 math 100

In [67]:
li = [1,2,3,4,5,7]
for k in enumerate(li):
    print(k)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 7)

In [62]:
scores.get('kor')

85

In [63]:
# 2
for key, val in scores.items():
    print(key, val)

kor 85
eng 90
math 100

In [65]:
# 3
for key in scores:
    print(key, scores[key])

kor 85
eng 90
math 100

In [66]:
# 4
for key in scores:
    print(key, scores.get(key))

kor 85
eng 90
math 100

In [68]:
scores = {'김예진': 90, '박영진': 95, '김소희': 84}
sum = 0
for key in scores:
    sum += scores.get(key)
    print('%s: %d' % (key, scores[key]))
avg = sum / len(scores)
print('합계: %d, 평균: %.2f' %(sum, avg))

김예진: 90
박영진: 95
김소희: 84
합계: 269, 평균: 89.67

In [73]:
ad = {'id':'admin', 'password':'11111'}
in_id = input('아이디를 입력하세요:')
in_password = input('비밀번호를 입력하세요:')

if (in_id == ad['id']) and (in_password == ad['password']):
    print('모든 정보에 접근 가능합니다!')
else:
    print('정보에 접근 권한이 없습니다!')

아이디를 입력하세요: admin
비밀번호를 입력하세요: 11111

모든 정보에 접근 가능합니다!

#### 체크

In [75]:
scores.keys()

dict_keys(['김예진', '박영진', '김소희'])

In [76]:
scores.values()

dict_values([90, 95, 84])

In [77]:
scores.items()

dict_items([('김예진', 90), ('박영진', 95), ('김소희', 84)])

In [79]:
scores in 'kor'

TypeError: 'in <string>' requires string as left operand, not dict

In [80]:
'kor' in scores

False

In [82]:
type(scores.get('k'))

NoneType

In [84]:
if scores.get('k') == None:
    print('None타입')

None타입

In [87]:
words = {'사과':'apple','컴퓨터':'computer','학교':'school','책상':'dest','의자':'chair'}

for _, key in enumerate(words):
    in_word = input('%s에 해당되는 영어 단어를 입력해주세요:' %key)
    if in_word == words[key]:
        print('정답입니다!')
    else:
        print('틀렸습니다!')

사과에 해당되는 영어 단어를 입력해주세요: ㅁ

틀렸습니다!

컴퓨터에 해당되는 영어 단어를 입력해주세요: ㅁ

틀렸습니다!

학교에 해당되는 영어 단어를 입력해주세요: school

정답입니다!

책상에 해당되는 영어 단어를 입력해주세요: chair

틀렸습니다!

의자에 해당되는 영어 단어를 입력해주세요: chair

정답입니다!

### 연습문제

In [13]:
dic = {'kim99':12000,'lee66':11000,'han55':3000,'hong77':5000,'hwang33':18000}

for i, key in enumerate(dic):
    print('%d. 아이디: %s, 마일리지: %d점' %(i+1, key, dic.get(key)))

1. 아이디: kim99, 마일리지: 12000점
2. 아이디: lee66, 마일리지: 11000점
3. 아이디: han55, 마일리지: 3000점
4. 아이디: hong77, 마일리지: 5000점
5. 아이디: hwang33, 마일리지: 18000점

In [2]:
dic['han55'] = 5000
print('han55님의 마일리지가 %d점으로 수정 되었습니다.' %(dic['han55']))

han55님의 마일리지가 5000점으로 수정 되었습니다.

In [3]:
dic['jang88'] = 7000
print('전체 딕셔너리 : %s' %dic)
print('jang88님의 마일리지(%d점)가 추가 되었습니다.' %dic.get('jang88'))

전체 딕셔너리 : {'kim99': 12000, 'lee66': 11000, 'han55': 5000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [14]:
max(dic.values())

18000