In [2]:
li = []
li

[]

In [3]:
type(li)

list

In [4]:
li = ['안','녕','하','세','요']
li

['안', '녕', '하', '세', '요']

In [16]:
li = ['안녕하세요', 1000, ['hello'], 100.4, 'ABC']
li

['안녕하세요', 1000, ['hello'], 100.4, 'ABC']

In [9]:
li[0], type(li[0])

('안녕하세요', str)

In [10]:
li[2:]

[['hello']]

In [17]:
li[-3:]

[['hello'], 100.4, 'ABC']

In [18]:
li[-3:-1]

[['hello'], 100.4]

In [19]:
li[-2]

100.4

In [1]:
list(range(1,10, 3))

[1, 4, 7]

In [5]:
li = list('안녕하세요')
type(li)

list

In [4]:
type("".join(li))

str

In [6]:
len(li)

5

리스트 추가

In [7]:
a = ['red','green','blue']
a.append('yellow')
a

['red', 'green', 'blue', 'yellow']

In [8]:
a.insert(1, 'black')
a

['red', 'black', 'green', 'blue', 'yellow']

In [9]:
b = ['purple', 'white']
a.extend(b)
a

['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']

In [10]:
c = a + b
c

['red',
 'black',
 'green',
 'blue',
 'yellow',
 'purple',
 'white',
 'purple',
 'white']

In [11]:

a = ['red','green','blue']
a + b

['red', 'green', 'blue', 'purple', 'white']

In [12]:
# 브로드캐스팅
a*2

['red', 'green', 'blue', 'red', 'green', 'blue']

In [17]:
# a/b  a-b 안됨

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [18]:
a = ['red','green','blue']
a

['red', 'green', 'blue']

In [21]:
a.index('red')
a.index('green')

1

In [22]:
a.pop(0) # 인덱스 이용

'red'

In [23]:
a

['green', 'blue']

삭제방법

In [24]:
a.remove('blue')  # 해당 값이용

In [25]:
a

['green']

In [28]:
a = ['red','green','blue']

In [29]:
a

['red', 'green', 'blue']

In [30]:
a.clear()

In [31]:
a

[]

In [32]:
a = 10
b = 20
li = ['red','green','blue']
a,b,li

(10, 20, ['red', 'green', 'blue'])

In [33]:
del a

In [34]:
a

NameError: name 'a' is not defined

In [35]:
del li[0]  # 삭제방법2

In [36]:
li

['green', 'blue']

In [41]:
# 중복된 값 갯수
li = ['green','blue','red','green','blue']
li.count('green')

2

In [43]:
li.sort()  # 정렬이 되고 저장된다.
li

['blue', 'blue', 'green', 'green', 'red']

In [44]:
type(li)

list

In [45]:
li.sort(reverse=True) # 역정렬

In [46]:
li

['red', 'green', 'green', 'blue', 'blue']

In [47]:
sorted(li)  # 결과만 정렬되서 나옴(저장안됨)

['blue', 'blue', 'green', 'green', 'red']

In [48]:
li

['red', 'green', 'green', 'blue', 'blue']

In [51]:
color = ['red','green', 'blue', 'black', 'white']
print(color[0])
print(color[-1])
print(color[1:-1])

red
white
['green', 'blue', 'black']

In [52]:
num = list(range(1,20,2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [53]:
mylist = ['사과','바나나','파인애플','배']
mylist.append('키위')

for a in mylist:
    print(a)

사과
바나나
파인애플
배
키위

In [54]:
mylist = ['사과','바나나','파인애플','포도','오렌지','배']
mylist.remove('바나나')
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [56]:
person1 = ['kim',24,'kim@naver.com']
person2 = ['lee',35,'lee@naver.com']

person = person1.extend(person2)
person

In [57]:
li

['red', 'green', 'green', 'blue', 'blue']

In [58]:
for i in li:
    print(i)

red
green
green
blue
blue

In [61]:
i = 0
while i < len(li):
    print(li[i])
    i += 1

red
green
green
blue
blue

In [64]:
scores = [88, 75, 40, 50, 50]

sum =0
for score in scores:
    sum += score
    
avg = sum / len(scores)

print('합계: %d, 평균: %.2f' %(sum, avg))

합계: 303, 평균: 60.60

In [66]:
i = 0
sum = 0
while i < len(scores):
    sum += scores[i]
    i += 1
avg = sum / len(scores)
print('합계: %d, 평균: %.2f' %(sum, avg))

합계: 303, 평균: 60.60

In [ ]:
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87,
     87, 36, 82, 98, 84, 76, 63, 69, 53, 22] 
count_su = 0            # 90점~ 100점 
count_woo = 0           # 80점~ 89점 
count_mi = 0            # 70점~ 79점 
count_yang = 0          # 60점~ 69점 
count_ga = 0            # 0점 ~ 59점

i = 0
while i < len(s):
    if

### 2차원 리스트(중첩리스트)

In [71]:
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])
print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])
print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

In [73]:
len(numbers), len(numbers[0])

(2, 3)

In [74]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], \
          [90, 76, 91], [82, 66, 88], [83, 86, 79], [85, 90, 83]] 
for i in range(len(scores)):
    sum = 0
    for j in range(len(scores[i])):
        sum += scores[i][j]
        
    avg = sum / len(scores[i])
    
    print('%d번째 학생의 합계: %d, 평균: %.2f' %(i+1, sum, avg))

1번째 학생의 합계: 260, 평균: 86.67
2번째 학생의 합계: 258, 평균: 86.00
3번째 학생의 합계: 254, 평균: 84.67
4번째 학생의 합계: 254, 평균: 84.67
5번째 학생의 합계: 257, 평균: 85.67
6번째 학생의 합계: 236, 평균: 78.67
7번째 학생의 합계: 248, 평균: 82.67
8번째 학생의 합계: 258, 평균: 86.00

In [79]:
i = 0

while i < len(scores):
    sum = 0
    j = 0 
    while j < len(scores[i]):
        sum += scores[i][j]
        j += 1
    avg = sum / len(scores[i])
    
    print('%d번째 학생의 합계: %d, 평균: %.2f' %(i+1, sum, avg))
    i += 1

1번째 학생의 합계: 260, 평균: 86.67
2번째 학생의 합계: 258, 평균: 86.00
3번째 학생의 합계: 254, 평균: 84.67
4번째 학생의 합계: 254, 평균: 84.67
5번째 학생의 합계: 257, 평균: 85.67
6번째 학생의 합계: 236, 평균: 78.67
7번째 학생의 합계: 248, 평균: 82.67
8번째 학생의 합계: 258, 평균: 86.00

In [81]:
scores = []
while True:
    score = int(input('성적을 입력하세요(종료 시-1 입력):'))
    if score == -1:
        print('종료')
        break
    else:
        scores.append(score)

sum = 0

for i in range(0, len(scores)):
    sum += scores[i]

avg = sum / len(scores)
print('합계: %d, 평균: %.2f' %(sum, avg))

성적을 입력하세요(종료 시-1 입력):75
성적을 입력하세요(종료 시-1 입력):83
성적을 입력하세요(종료 시-1 입력):88
성적을 입력하세요(종료 시-1 입력):93
성적을 입력하세요(종료 시-1 입력):97
성적을 입력하세요(종료 시-1 입력):-1
종료
합계: 436, 평균: 87.20

In [86]:
seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [1, 1, 1, 0, 0, 0, 0, 0, 1, 0],\
         [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],\
         [0, 1, 0, 0, 0, 1, 0, 1, 0, 0],\
         [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],\
         [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]
reslut = []
for i in range(len(seats)):
    for j in range(len(seats[i])):
        if seats[i][j] == 1:
            print('■', end='')
        else:
            print('□', end='')
    print()

□□□□□□□□□□
□□□□□□□□□□
□□□□□□□□□□
■■■□□□□□■□
□□□□□■□□□□
□■□□□■□■□□
□□□□□□■□□□
■□■□□□□□□■