for <> in []:

In [2]:
range(5)

range(0, 5)

In [3]:
r = range(5)
r

range(0, 5)

In [4]:
print(r)

range(0, 5)

In [5]:
type(r)

range

In [6]:
len(r)

5

In [7]:
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
for x in r:
    print(x)

0
1
2
3
4

In [11]:
for x in range(5):
    print(x * '*')

*
**
***
****

In [13]:
for x in range(10,100, 4):
    print(x*'*')

**********
**************
******************
**********************
**************************
******************************
**********************************
**************************************
******************************************
**********************************************
**************************************************
******************************************************
**********************************************************
**************************************************************
******************************************************************
**********************************************************************
**************************************************************************
******************************************************************************
**********************************************************************************
**************************************************************************************
******************************************************************************************
**********************************************************************************************
**************************************************************************************************

In [17]:
for x in range(1, 20):
    if x % 2 == 0:
        print('짝수 = ', x)
    elif x % 3 == 0:
        print('홀수 = ', x)

짝수 =  2
홀수 =  3
짝수 =  4
짝수 =  6
짝수 =  8
홀수 =  9
짝수 =  10
짝수 =  12
짝수 =  14
홀수 =  15
짝수 =  16
짝수 =  18

In [19]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [21]:
for x in range(5):
    print(x)

0
1
2
3
4

In [22]:
x = 0
while True:
    print(x)
    x += 1
    if x == 5:
        break

0
1
2
3
4

In [25]:
s = 'sadsadasda sadasdasd sadasd'
i = 0
count = 0

while i <= len(s)-1:
    print('모음 = ', s[i], end=', ')
    i += 1

모음 =  s, 모음 =  a, 모음 =  d, 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =  a, 모음 =   , 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =   , 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d,

In [27]:
for i in range(len(s)):
    print('모음 = ', s[i], end=', ')

모음 =  s, 모음 =  a, 모음 =  d, 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =  a, 모음 =   , 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d, 모음 =   , 모음 =  s, 모음 =  a, 모음 =  d, 모음 =  a, 모음 =  s, 모음 =  d,

In [44]:
a = 200
count = 1
sum = 0
while count <= 300:
    if a * sum == 1:
        sum = sum + a
        print('%6d' %sum, end='')
        
        if count % 10 == 0:
            print()
            
        count += 1
        
    a = sum + 1

KeyboardInterrupt:

In [35]:
sum = 0

print('3의 배수 = ', end='')
for i in range(1, 101):
    
    if i % 3 == 0:
        
        sum += i
        
        if i == :
            print(i, end='')
        else:
            print(i, end=',')
    
        
print('\n','-'*50)
print('sum = ', sum)

3의 배수 = 3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57,60,63,66,69,72,75,78,81,84,87,90,93,96,99
 --------------------------------------------------
sum =  1683

In [43]:
while True:
    a = input('서비스 만족도를 입력해주세요.(예:1 또는 2 또는 3 또는 q:out):')
    if a == 'q':
        print('end')
        break
    price = int(input('음식값을 입력해주세요(예:8000):'))

    if a == '1':
        tip = int(price * 0.2)
        service = '매우만족'
    elif a == '2':
        tip = int(price * 0.1)
        service = '만족' 
    else:
        tip = int(price * 0.05)
        service = '불만족'

    print()
    print('서비스 만족도 : %s,\n팁 : %d원' % (service, tip))

서비스 만족도를 입력해주세요.(예:1 또는 2 또는 3 또는 q:out):q
end

In [45]:
msg = '안녕하세요'
for s in msg:
    print(s)

안
녕
하
세
요

In [49]:
print('-'*30)
print('     섭씨  화씨')
print('-'*30)

for c in range(-20, 31, 5):
    f = c * 9.0 / 5.0 + 32.0
    print('%8d %6.1f' % (c, f))
    
print('-'*30)

------------------------------
     섭씨  화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

In [52]:
n1 = int(input('시작 수를 입력하세요:'))
n2 = int(input('끝 수를 입력하세요:'))

sum = 0 

for i in range(n1, n2):
    if i%5 != 0:
        sum += i

print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계: %d' %(n1, n2, sum) )

시작 수를 입력하세요:100
끝 수를 입력하세요:200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계: 12000

In [62]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요.')
for x in number:
    if x != '-': 
        print(x, end='')

하이픈(-)을 포함한 휴대폰 번호를 입력하세요.010-4148-9086
01041489086

In [70]:
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요.')
# number = ''
# for i in range(0, 11):
#     if i == 2: 
#         number += (phone[2]+'-')
#     elif i == 6:
#         number += (phone[6]+'-')
#     else:
#         number += (phone[i])

number = (phone[:3]+'-'+phone[3:7]+'-'+phone[7:])
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요.01041489086
010-4148-9086

In [81]:
# 전화번호를 인덱스역으로 만들어보기
phone = '010-4148-9086'
phone[-13:-10]+phone[-9:-5]+phone[-4:]

'01041489086'

In [82]:
print('-'*50)

for a in range(2, 10):
    for b in range(1, 10):
        c = a * b
        print('%d X %d = %d' % (a, b, c))
    print('-'*50)

--------------------------------------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------------------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------------------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------------------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------------------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------------------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------------------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------------------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------------------------------------------

In [89]:
while True:
    inp = int(input('구구단을 입력하세요.'))
    if inp == 0:
        break
        
    print('-'*50)

    # for a in range(inp):
    for b in range(1, 10):
        c = inp * b
        print('%d X %d = %d' % (inp, b, c))
    print('-'*50)

구구단을 입력하세요.2
--------------------------------------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------------------------------------------
구구단을 입력하세요.1
--------------------------------------------------
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
--------------------------------------------------
구구단을 입력하세요.3
--------------------------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------------------------------------------
구구단을 입력하세요.4
--------------------------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------------------------------------------
구구단을 입력하세요.5
--------------------------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------------------------------------------
구구단을 입력하세요.6
--------------------------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------------------------------------------
구구단을 입력하세요.7
--------------------------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------------------------------------------
구구단을 입력하세요.9
--------------------------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------------------------------------------
구구단을 입력하세요.0

In [96]:
for i in range(1, 11):
    for j in range(1, i):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [114]:
for i in range(1, 11):
    for j in range(1, 11-i):
        print(' ', end='')
    for k in range(1, i):
        print('*', end='')
    print()

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [115]:
sum = 0
i = 1

while i <= 10:
    sum += i
    print('i의 값: %d => 합계: %d' %(i, sum))
    i += 1

i의 값: 1 => 합계: 1
i의 값: 2 => 합계: 3
i의 값: 3 => 합계: 6
i의 값: 4 => 합계: 10
i의 값: 5 => 합계: 15
i의 값: 6 => 합계: 21
i의 값: 7 => 합계: 28
i의 값: 8 => 합계: 36
i의 값: 9 => 합계: 45
i의 값: 10 => 합계: 55

In [118]:
i = 200
count = 0
while i < 601:
    if i%3 != 0:
        print('%d' %i, end=' ')
        count += 1
        if count%8 == 0:
            print()
            
    i += 1

200 202 203 205 206 208 209 211
212 214 215 217 218 220 221 223
224 226 227 229 230 232 233 235
236 238 239 241 242 244 245 247
248 250 251 253 254 256 257 259
260 262 263 265 266 268 269 271
272 274 275 277 278 280 281 283
284 286 287 289 290 292 293 295
296 298 299 301 302 304 305 307
308 310 311 313 314 316 317 319
320 322 323 325 326 328 329 331
332 334 335 337 338 340 341 343
344 346 347 349 350 352 353 355
356 358 359 361 362 364 365 367
368 370 371 373 374 376 377 379
380 382 383 385 386 388 389 391
392 394 395 397 398 400 401 403
404 406 407 409 410 412 413 415
416 418 419 421 422 424 425 427
428 430 431 433 434 436 437 439
440 442 443 445 446 448 449 451
452 454 455 457 458 460 461 463
464 466 467 469 470 472 473 475
476 478 479 481 482 484 485 487
488 490 491 493 494 496 497 499
500 502 503 505 506 508 509 511
512 514 515 517 518 520 521 523
524 526 527 529 530 532 533 535
536 538 539 541 542 544 545 547
548 550 551 553 554 556 557 559
560 562 563 565 566 568 569 571
572 574 575 577 578 580 581 583
584 586 587 589 590 592 593 595
596 598 599

In [119]:
print('-'*30)
print('     섭씨  화씨')
print('-'*30)
c = -20
while c < 41:
    f = c * 9.0 / 5.0 + 32.0
    print('%8d %6.1f' % (c, f))
    c += 1
    
    
# for c in range(-20, 31, 5):
#     f = c * 9.0 / 5.0 + 32.0
#     print('%8d %6.1f' % (c, f))
    
print('-'*30)

------------------------------
     섭씨  화씨
------------------------------
     -20   -4.0
     -19   -2.2
     -18   -0.4
     -17    1.4
     -16    3.2
     -15    5.0
     -14    6.8
     -13    8.6
     -12   10.4
     -11   12.2
     -10   14.0
      -9   15.8
      -8   17.6
      -7   19.4
      -6   21.2
      -5   23.0
      -4   24.8
      -3   26.6
      -2   28.4
      -1   30.2
       0   32.0
       1   33.8
       2   35.6
       3   37.4
       4   39.2
       5   41.0
       6   42.8
       7   44.6
       8   46.4
       9   48.2
      10   50.0
      11   51.8
      12   53.6
      13   55.4
      14   57.2
      15   59.0
      16   60.8
      17   62.6
      18   64.4
      19   66.2
      20   68.0
      21   69.8
      22   71.6
      23   73.4
      24   75.2
      25   77.0
      26   78.8
      27   80.6
      28   82.4
      29   84.2
      30   86.0
      31   87.8
      32   89.6
      33   91.4
      34   93.2
      35   95.0
      36   96.8
      37   98.6
      38  100.4
      39  102.2
      40  104.0
------------------------------

In [126]:
s = input('영어문장을입력하세요:') 
i = 0 
count = 0 
lower = 'aAeEiIoOuU'
print('모음: ', end = '') 
while i <= len(s) -1 : 
    if (s[i] in lower) : 
        count += 1 
        print(s[i], end=' ') 
    i += 1

영어문장을입력하세요:We are the champion.
모음: e a e e a i o

In [128]:
for x in range(5):
    print('*'*10)

**********
**********
**********
**********
**********

In [129]:
x = 0
while x < 5:
    print('*'*10)
    x += 1

**********
**********
**********
**********
**********

In [135]:
for x in range(6,0,-1):
    print(str(x)*x)

666666
55555
4444
333
22
1

TypeError: can only concatenate tuple (not "int") to tuple